:root {
  --color-primary: #247B7B;
  --color-primary-light: #78CDD7;
  --color-primary-dark: #0D5C63;
  --width: 500px;
}

body {
  background-color: #FFFFFE;
  font-family: 'Montserrat', sans-serif;
}

h1,
p {
  color: var(--color-primary-dark);
  max-width: var(--width);
  margin: auto;
  text-align: center;
}

p.final-grade-max-min {
  margin-top: 0.5em;
}

#error {
  color: red;
  margin-top: 25px;
  font-weight: bold;
}

a {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-weight: bold;
}

#form {
  max-width: var(--width);
  margin: auto;
}

input,
input:-webkit-autofill {
  width: 250px;
  margin-top: 10px;
  font-family: inherit;
}

input:focus,
input:-webkit-autofill:focus {
  outline: none;
  border-color: var(--color-primary-light);
  -webkit-box-shadow: 0 0 10px var(--color-primary-light);
  box-shadow: 0 0 10px var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}

label {
  color: var(--color-primary);
  display: block;
  text-align: center;
}

button,
button:active,
button:focus {
  width: 90%;
  margin-left: 5%;
  height: 50px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
}

#results {
  max-width: var(--width);
  margin: 0 auto;
  margin-top: 1.75em;
}

#results p {
  text-align: left;
  margin-left: 5%;
}

#results p:last-of-type {
  margin-top: 1.5em;
  margin-bottom: 0.6em;
}

body > header {
  margin-top: 5vh;
  margin-bottom: 2em;
}

body > header > h1 {
  margin-bottom: 0.25em;
}

body > header > p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5vh;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: var(--color-primary-light);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  font-weight: bold;
}